{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Goéland</h2>
    <p>VOUS ETES SUR LA PAGE DES GOELANDS...</p>
</article>
    {% include '/E01Bundle/liens.html.twig' %}
{% endblock %}
