<!-- templates/liens.html.twig -->
<section>
    <h2>Articles</h2>
    <ul>
        <li><a href="/e01/">Page principale</a></li>
        <li><a href="/e01/goeland">Goéland</a></li>
        <li><a href="/e01/mouette">Mouette</a></li>
        <li><a href="/e01/pelican">Pélican</a></li>
    </ul>
</section>
