{% extends 'base.html.twig' %}


{% block body %}
<article>
    <h2>Mouette</h2>
    <p>VOUS ETES SUR LA PAGE DES MOUETTES...</p>
</article>
    {% include '/E01Bundle/liens.html.twig' %}
{% endblock %}