{% extends 'base.html.twig' %}

{% block title %}Article: Goéland{% endblock %}

{% block body %}
<article>
    <h2>Goéland</h2>
    <p>Contenu de l'article sur les goélands...</p>
</article>
{% endblock %}
