{% extends 'base.html.twig' %}


{% block title %}Article: Pélican{% endblock %}

{% block body %}
<article>
    <h2>Pélican</h2>
    <p>VOUS ETES SUR LA PAGE DES PELICANS...</p>
</article>
    {% include '/E01Bundle/liens.html.twig' %}
{% endblock %}