h1 
{
    color: white;
    text-align: center;
}

.copyright
{
    text-align: center;
}
.img_column
{
    display: inline-block;
    text-align: center;
    padding-left: 200px;
    padding-right: 50px;

}
.img_column_2
{
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 150px;
}