{% extends 'base2.html.twig' %}

{% block body %}
<form action="{{ path('submit_form') }}" method="post">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">

    <label for="timestamp">Include timestamp:</label>
    <select id="timestamp" name="timestamp">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <input type="submit" value="Submit">
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
</form>
{% if lastMessage %}
    <div class="last-message">Dernier message : {{ lastMessage }}</div>
{% endif %}
{% endblock %}